/* src/pages/About.css */

.about-container {
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.profile-icon {
  font-size: 20px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  gap: 40px;
}

.about-text {
  width: 100%;
}

.about-text h1,
.about-text h2 {
  font-size: 60px;
  margin-bottom: 60px;
}

.arrow {
  color: purple;
  margin-right: 10px;
}

.highlight {
  color: purple;
}

.about-text p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: -30px;
  margin-left: 75px;
}

.skills-list {
  display: flex;
  gap: 60px;
  margin-left: 23%;
  margin-top: -3%;
  
}
.skills-list li {
  list-style: none;
  font-size: 20px;
  margin-left: 43px;
}
.about-image img {
  max-width: 500px;
  border-radius: 5px;
  margin-right: 40px;
  margin-top: -57%;
}
.together{
  margin-left: 23%;
  margin-top: -5%;
}


@media screen and (max-width: 768px) {
   .about-content {
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
  }

  .about-text h1,
  .about-text h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .about-text p {
    margin-left: 40px;
    font-size: 16px;
  }

  .skills-list {
    margin-left: 15%;
    gap: 30px;
  }

  .about-image img {
    max-width: 350px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }

  .together {
    margin-left: 15%;
    margin-top: -3%;
  }
}