*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background-color: black;
  width: 100%;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 200px;
  color: white;
}

.logo-bold {
  color: white;
}

.logo-light {
  color: gray;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 700;
  margin-right: 20%;
  margin-left: 10%;
  font-size: 20px;
}

.nav-links li {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}
.nav-links li.active {
  color: white;
}

.nav-links li:hover {
  color: purple;
}

.nav-icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 10%;
}


@media screen and (max-width: 768px) {
 .navbar {
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    margin-left: 0;
    margin-bottom: 15px;
  }
  
  .nav-links {
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    margin: 0;
    font-size: 16px;
  }
  
  .nav-icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}